@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-gold: #C9A456;
  --color-brand-navy: #0B1C38;
  --color-brand-dark: #13243b;
  --color-brand-black: #000000;
  --font-sans: "PT Sans", sans-serif;
}

@layer base {
  body {
    background-color: white;
    color: #000;
    font-family: var(--font-sans);
  }
  
  a, button, [role="button"] {
    cursor: pointer !important;
  }
}
